**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!docs/
!docs/**
!apps/
!apps/docs/
!apps/docs/**
!apps/marketing/
!apps/marketing/**
!packages/
!packages/**
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
